<h4 class="ui center aligned medium icon header">
    <i class="circular red users icon"></i>
    Chatroom
</h4>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Messages</div>
            </div>
            <div class="content chatbox">
                <div class="ui small feed">
                    <%= render @messages %>
                </div>
            </div>
            <div class="extra content">
                <form class="ui form">
                    <div class="field">
                        <div class="ui fluid icon input">
                            <input type="text" placeholder="Write your message here...">
                            <i class="inverted red envelope icon"></i> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui inverted vertical menu">
            <a class="item">
                Link 1
            </a>
            <a class="item">
                Link 2
            </a>
        </div>
    </div>
</div>
